<div class="panel panel-default" id= "{{this._id}}">
    <div class="panel-heading"> 
        <div class="pull-right trashit-comment">
            <button class="fa fa-trash-o" type="button" id="deleteComment-{{slice8 this._id}}" onclick="commentDelete('{{slice8 this._id}}');" comment-id={{this._id}} movie-id={{this.movieId}}></button>
        </div>       
        <h3 class="panel-title">{{this.title}}</h4>
    </div>
        <div class="panel-body">
            <p>{{this.content}}</p>
            <span class="timestamp pull-right">{{prettyDate this.date}}</span>  
        </div>
</div>
