<h1>Now Playing</h1>

{{#each movies}}
    <div class="thumbnail movie">
        <a href="/movies/{{this.id}}" class="thumbnail">
        <img src="https://image.tmdb.org/t/p/w200{{this.poster_path}}" alt="{{this.title}}"></a>
        <div class="caption">
            <span class="title">{{this.title}}</span>

            <span class="genre">{{this.genres}}</span>
        </div>
    </div>

{{/each}}
