<!-- views/reviews-show.handlebars -->

<a href="/movies/{{review.movieId}}">Back to Movie</a>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <form method="POST" action="/movies/{{review.movieId}}/reviews/{{review._id}}?_method=DELETE">
            <h1>{{review.title}}<button class="fa fa-trash-o" type="submit"></button></h1>
        </form>
        {{stars review.rating}}
        <p>{{review.description}}</p>
        <p><a href="/movies/{{review.movieId}}/reviews/{{review._id}}/edit">Edit</a></p>
        <hr>

        <!-- Comment form -->
        {{> comment-form value='hello'}}

        <hr>

        <div id="comments">
            <!-- Show Comments -->
            {{#each comments}}
                {{> comment}}
            {{/each}}
        </div>

    </div>
</div>
